<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbouGvUlqblhx_8rkar3X8w7c0Nc32P2E</string>
	<key>GCM_SENDER_ID</key>
	<string>232021529015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evotek.homecare</string>
	<key>PROJECT_ID</key>
	<string>evo-homecare-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>evo-homecare-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232021529015:ios:64c63f1d63e27e781a1832</string>
</dict>
</plist>